@model IEnumerable<RestaurantViewModel>

@{
    ViewData["Title"] = "All Restaurants";

    int i = 0;
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <table class="table table-hover table-stripped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().CreatedOn)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Owner)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Location)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Rating)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().PriceRange)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().IsDeleted)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedOn)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelItem in Model)
            {
                i++;

                <tr>
                    <th scope="row">@i</th>
                    <td>@modelItem.CreatedOn</td>
                    <td>@modelItem.Name</td>
                    <td>@modelItem.Owner.UserName</td>
                    <td>@modelItem.Location</td>
                    <td>@modelItem.Rating</td>
                    <td>@modelItem.PriceRange</td>
                    <td>
                        @(modelItem.IsDeleted == false ? modelItem.IsDeleted : string.Empty)
                        @modelItem.DeletedOn
                    </td>
                    <td>@modelItem.ModifiedOn</td>
                    <td>
                        @if (modelItem.IsDeleted)
                        {
                            <a class="btn btn-primary disabled" role="button" aria-disabled="true" asp-area="Administration" asp-controller="Restaurant" asp-action="Details" asp-route-id="@modelItem.Id">Details</a>
                            <a class="btn btn-primary disabled" role="button" aria-disabled="true" asp-area="Administration" asp-controller="Restaurant" asp-action="Edit" asp-route-id="@modelItem.Id">Edit</a>
                            <a class="btn btn-danger disabled" role="button" aria-disabled="true" asp-area="Administration" asp-controller="Restaurant" asp-action="Delete" asp-route-id="@modelItem.Id">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Restaurant" asp-action="Details" asp-route-id="@modelItem.Id">Details</a>
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Restaurant" asp-action="Edit" asp-route-id="@modelItem.Id">Edit</a>
                            <a class="btn btn-danger" asp-area="Administration" asp-controller="Restaurant" asp-action="Delete" asp-route-id="@modelItem.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>