@model HotelViewModel

@{
    this.ViewData["Title"] = Model.Name;
    bool first = true;

    this.Model.ReservationStartDate = DateTime.Today;
    this.Model.ReservationEndDate = DateTime.Today;
}

<div>
    <div>
        <h1>@Model.Name</h1>
    </div>
    <hr />
    <div class="d-flex justify-content-between flex-row">
        <div class="d-flex">
            <h1>@Model.AddressAddressText, @Model.AddressTownName, @Model.AddressCountry</h1>
        </div>
        <div class="d-flex">
            <h1>Rating: @Model.Rating</h1>
        </div>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Make a Reservation</button>
        </div>
    </div>
    <div class="mb-5"></div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var image in Model.Images)
            {
                <div class="carousel-item @(first ? "active" : string.Empty)" style="background-color: #d9d9d9; ">
                    <img class="d-block w-100" style="height: 500px; object-fit: contain;"
                         src="@image.ImageUrl" alt="image">
                </div>

                first = false;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />
    <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center shadow-lg p-3 mb-5 bg-body rounded w-50">
            <h2>Details</h2>
            <hr />
            <p>@Model.Details</p>
        </div>
        <div class="d-flex flex-column align-items-center shadow-lg p-3 mb-5 bg-body rounded w-50">
            <h2>Amenities</h2>
            <hr />
            @foreach (var amenity in Model.Amenities)
            {
                <p>@amenity.AmenityTitle</p>
            }
        </div>
    </div>
</div>

<!--Modal (Reservation Pop-Up)-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create a reservation for @Model.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="loginForm" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="ReservationStartDate" class="form-control" autocomplete="reservationdate" aria-required="true" />
                        <label asp-for="ReservationStartDate"></label>
                        <span asp-validation-for="ReservationStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="ReservationEndDate" class="form-control" autocomplete="reservationdate" aria-required="true" />
                        <label asp-for="ReservationEndDate"></label>
                        <span asp-validation-for="ReservationEndDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Price" class="form-control" autocomplete="reservationdate" aria-required="true" />
                        <label asp-for="Price"></label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-controller="HotelReservations" asp-action="Create" asp-route-id=@Model.Id class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>