@model HotelPagingViewModel

<div class="col mt-5">
    <div class="card">
        <img src="@Model.ImageUrl" class="card-img-top" />
        <div class="card-body">
            <h5>@Model.Name</h5>
            <hr />
            <p class="card-text">
                <strong>Location:</strong> @Model.Location, @Model.Country
                <br />
                <strong>Rating:</strong> @Model.Rating.ToString("f1")
                <br />
                <strong>Price:</strong> $0,00 - $@Model.Price.ToString("f2")
            </p>
            <button type="submit" asp-area="Hotel" asp-controller="Hotel" asp-action="" asp-route-id=@Model.Id class="btn btn-primary">View More</button>
        </div>
    </div>
</div>