@model IEnumerable<ApproveViewModel>

@{
    ViewData["Title"] = "Users to be approved";

    int i = 0;
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Approve" asp-action="ApprovedRequests">Approved Requests</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Approve" asp-action="RejectedRequests">Rejected Requests</a>
</div>
<div>
    <table class="table table-hover table-stripped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().CreatedOn)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().IsApproved)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().User.UserName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Position)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedOn)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelItem in Model)
            {
                i++;

                <tr>
                    <th scope="row">@i</th>
                    <td>@modelItem.CreatedOn</td>
                    <td>@modelItem.IsApproved</td>
                    <td>@modelItem.User.UserName</td>
                    <td>@modelItem.Position</td>
                    <td>@modelItem.ModifiedOn</td>
                    <td>
                        <form method="post">
                                <button type="submit" class="btn btn-success" asp-area="Administration" asp-controller="Approve" asp-action="Approve" asp-route-id="@modelItem.Id">Approve</button>
                                <button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Approve" asp-action="Reject" asp-route-id="@modelItem.Id">Reject</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>